<div >

  <form [formGroup]="appForm"  style="display: flex; flex-direction: column;">
  
      
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </form>
  <div style="display: flex; flex-direction: row; justify-content: space-between;"></div>
  <button  mat-raised-button (click)="onReset()">Reset</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  <p>email:{{ userData().email}}</p>
  <p>name: {{ userData().name }}</p>

</div>